<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	{% for link in site.data.navigation %}
		{% assign class = "" %}
		{% if link.highlight %}
			{% assign class = class | append: " highlight" %}
		{% endif %}

		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}
		<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
	{% endfor %}
</nav>

<!-- This finds the current page so it can be highlighted. -->
<!--
{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}
-->
<!-- Then we build the nav bar. -->
<!--
<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
    <ul>
    {% for entry in site.data.navigation %}
				{% if entry.url == page.url %}
					{% assign class = class | append: " active" %}
				{% else %}
					{% assign class = class | append: "" %}
				{% endif %}

				{% if entry.url == current_page %}
            {% assign class = class | append: " active" %}
        {% else %}
            {% assign class = null %}
        {% endif %}

        {% assign sublinks = entry.sublinks %}
        {% if sublinks %}

	        <li>
	            <a href="{% include relative-src.html src=entry.url %}" class="{{ class }}" {% if entry.new_window %}target="_blank"{% endif %}>{{ entry.title }}</a>
	            <ul>
	                {% for sublink in sublinks %}
										{% if sublink.url == current_page %}
						            {% assign class = class | append: " active" %}
						        {% else %}
						            {% assign class = null %}
						        {% endif %}
										<li><a href="{% include relative-src.html src=sublink.url %}" class="{{ class }}" {% if sublink.new_window %}target="_blank"{% endif %}>{{ sublink.title }}</a></li>
	                {% endfor %}
	            </ul>
	        </li>
	        {% else %}
					<li><a href="{% include relative-src.html src=entry.url %}" class="{{ class }}" {% if entry.new_window %}target="_blank"{% endif %}>{{ entry.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>
-->
