<div class="uk-section uk-section-large uk-section-default uk-text-center">
  <div class="uk-container">
    <h2>Live Streaming on YouTube</h2>
    <a href="https://www.youtube.com/channel/UCPeoQJJKWrzJ_1C1tbI_dJw" target="_blank">
      <img class="uk-margin-top" src="{{ '/assets/posts/youtube.svg' | absolute_url }}" alt="YouTube" width="300">
    </a>
    <div class="uk-margin-medium-top">
      <a class="uk-button uk-button-secondary" href="https://www.youtube.com/channel/UCPeoQJJKWrzJ_1C1tbI_dJw" target="_blank">Watch Now</a>
    </div>
  </div>
</div>