.nav-open nav {
	border-bottom: 1px dotted rgba(255, 255, 255, .2);
	padding: 10px 0;
	a {
		display: block;
		padding: 25px 0;
	}

	@media #{$mid-point} {
		border: 0;
		padding: 0 20px;

		a {
			display: inline;
		}
	}
}

nav {
	text-transform: uppercase;
	font-size: .8em;
	width: 100%;
	position: relative;
	top: -3px;
	text-shadow: none;
	font-weight: 300;

	@media #{$mid-point} {
		padding: 0 20px;
		display: inline;
	}
/*
	ul {
		padding: 0;
		margin: 0;
		display: inline;
		li {
			list-style: none;
			font-size: .8em;
		}
	}
	> ul > li {
		display: inline;
	}
	@media #{$mid-point} {
		ul ul {
			position: absolute;
			top: 40px;
			left: 20px;
		}
	}
	*/
	a {
		margin: 0 3px;
		padding: 14px 20px 14px 0;
		border: 0;
		display: none;
		letter-spacing: 1px;
		position: relative;

		@media #{$mid-point} {
			display: inline;
			border-bottom: 1px solid rgba(255,255,255,0);
			color: rgba(255,255,255,.9);
		}


		&.nav-toggle {
			display: inline;
			position: absolute;
			right: 10px;
			top: -13px;
			font-size: 1.9em;
			border: 0;
			text-shadow: 0;
			padding: 0 !important;
			@media #{$mid-point} {
				display: none;
			}

			&:hover {
				border: 0;
			}
		}
	}

	a.active {
		border-bottom: 2px solid #fff;
	}

}
